<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Watchlist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">My Watchlist</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container1">
            <br><br>
            <h4> =>Your watchlist contains "<%= userWatchlist.length %>" elements:- </h4>
            <br><br>
            <%  if(userWatchlist.length == 0){%>     
                <p>No Movies in your watchlist</p>
            <%}%>
            <% for(var i = 0; i < userWatchlist.length; i++){ %>
                <p> <%=i%>) <%= userWatchlist[i] %> 
                <% if(userWatchlist[i] == "The Dark Knight (2008)"){%>
                    <a href="/darkknight">(More info)</a>
                    <%}%>
                <% if(userWatchlist[i] == "The Conjuring (2013)"){%>
                    <a href="/conjuring">(More info)</a>
                     <%}%>
                <% if(userWatchlist[i] == "Fight Club (1999)"){%>
                    <a href="/fightclub">(More info)</a>
                    <%}%>
                <% if(userWatchlist[i] == "The Godfather (1972)"){%>
                    <a href="/godfather">(More info)</a>
                    <%}%>
                <% if(userWatchlist[i] == "The Godfather: Part II (1974)"){%>
                    <a href="/godfather2">(More info)</a>
                    <%}%>
                <% if(userWatchlist[i] == "Scream (1996)"){%>
                    <a href="/scream">(More info)</a>
                    <%}%>
                </p>
            <% } %>
        </div>
     <!--   <div class="container3">
                <img id="image" src="/mike.jpg" width="150%" height="150%">
            </div> -->
</body>
</html>